{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f2f2f2;
    color: #222;
}

header, footer {
    background: #111827;
    color: white;
    padding: 20px;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo, nav a {
    color: white;
    margin: 10px;
}

nav a:hover {
    color: #3b82f6;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.detalhes-produto {
    display: flex;
    gap: 30px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.detalhe-imagem {
    font-size: 100px;
    background: #ddd;
    padding: 60px;
}

h1, h2 {
    margin: 15px 0;
}

.preco-grande {
    font-size: 25px;
    color: #2563eb;
    font-weight: bold;
    margin: 20px 0;
}

.botao {
    background: #2563eb;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.contato {
    background: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
}

footer {
    text-align: center;
}
